.light {
  --bg: white;
  /* --bg: #f7f7f7; */
  --selected: #dddddd !important;
  --main-color: black;
  --secondary-color: rgb(156 163 175);
  /* --main-color: #777; */
  --link-color: #3c93e0;
}

.dark {
  --bg: #10121b;
  --selected: #333131 !important;
  --main-color: #afadad;
  --link-color: #d29915;
}

body {
  background-color: var(--bg);
  color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 15px 25px;
  font-size: 0.9rem;
}

a {
  color: var(--link-color);
}

.main {
  max-width: 35rem;
  margin-top: 8rem;
  margin-bottom: 6rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

a.plain {
  color: var(--main-color);
  text-decoration: none;
}

/* ==================== Links ================================ */

/* ==================== Directory ================================ */

.directory {
  margin-top: 1.5rem;
  /* font-size: 0.85rem; */
  /* line-height: 1.65; */
}

.directory .row {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.directory .row .title {
  margin-right: 2rem;
}

/* ==================== Posts ================================ */

.title-section {
  margin-bottom: 2.5rem;
}

.title-section .title {
  margin-bottom: 0.5rem;
}

.title-section .date {
  font-size: 0.8rem;
  color: var(--secondary-color);
}


.content p, .content ol, .related-content  {
  line-height: 1.6;
}

.content ol {
  margin: 2rem 0;
  padding: 0 3rem;
}

.content li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content h3 {
  margin-top: 1.6rem;
  margin-bottom: 0.7rem;
}

.content h3 + * {
  margin-top: 0;
}

.related-content {
  margin-top: 125px;
  border-top: 1px solid var(--main-color);
}

.related-content h3 {
  margin-bottom: 0;
  margin-top: 0.6em;
}

.related-content ul {
  margin-top: 5px;
}

/* ==================== Responsive ================================ */
@media screen and (max-width: 800px) {
  .main {
    margin: 3rem auto;
  }
}