<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matthew Fan's Blog</title>
    <meta name="keywords" content="blog, matthew fan">
    <meta name="description" content="Matthew Fan's blog">
    <meta name="author" content="Matthew Fan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="icon" href="/assets/turtle.png">
  </head>
  <body class="light">
    <div class="main">
      <h3>Matthew Fan</h3>

      <div class="directory">
        {% for page in site.pages %}
        {% if "posts" in page.categories %}
        <a class="row plain" href="{{ page.url }}">
          <div class="title">{{ page.title }}</div>
          <div>{{ page.date | formatDate("MMM D, YYYY") }}</div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
