<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matthew Fan's Blog</title>
    <link rel="stylesheet" href="/assets/index.css">
    <meta name="keywords" content="blog, matthew fan">
    <meta name="description" content="Matthew Fan's blog">
    <meta name="author" content="Matthew Fan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/turtle.png">
  </head>
  <body class="light">
    <div class="main">
      <div class="header">
        <a class="selected" href="/">blog</a>
        <a href="/about">about</a>
      </div>

      <div class="content">
        <div class="row">
          <div class="title-section">
            <h3 class="title">{{page.title}}</h3>
            <div>{{page.date}}</div>
          </div>
        </div>
        <div class="body">
          {{{page.content}}}
        </div>
      </div>
    </div>
  </body>
</html>