---
import "../global.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matthew Fan's Blog</title>
    <meta name="keywords" content="blog, matthew fan">
    <meta name="description" content="Matthew Fan's blog">
    <meta name="author" content="Matthew Fan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/turtle.png">
		<meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main>
			<slot/>
		</main>
  </body>
</html>